<% if policy(messageboard).update? %>
  <a style="margin-bottom: 10px;" class="btn btn-sm btn-primary pull-right" href="<%= edit_messageboard_path(messageboard) %>" rel="nofollow">
    <%= t('thredded.nav.edit_messageboard') %>
  </a>
<% end %>
