<footer>
  <div class="references">
    <div class="above-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h5>Políticas</h5>
            <div class="list-group">
              <a href="/privacy" class="list-group-item list-group-item-action">Política de Privacidad</a>
              <a href="/tos" class="list-group-item list-group-item-action">Términos de Servicio</a>
            </div>
          </div>

          <div class="col-md-4">
            <h5>Moderación</h5>
            <div class="list-group">
              <a href="/staff" class="list-group-item list-group-item-action">Staff</a>
              <a href="/contact" class="list-group-item list-group-item-action">Contacto</a>
            </div>
          </div>

          <div class="col-md-4">
            <h5>Involúcrate</h5>
            <div class="list-group">
              <a href="https://discord.gg/SAC4NJW" target="_blank" class="list-group-item list-group-item-action"><i class="fab fa-discord"></i> Discord</a>
              <a href="https://github.com/ElMedievo-UdeC" target="_blank" class="list-group-item list-group-item-action"><i class="fab fa-github"></i> GitHub</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <div class="container">
    <hr style="margin-top: 10px;"/>
  </div>
  <% if current_page?(:controller => 'el_medievo') %>
    <strong>&copy; ElMedievo 2020 - w/ <i class="fa fa-heart" aria-hidden="true"></i> ~<a href="https://www.instagram.com/bgmp00/" target="_blank">Pepo</a></strong>
  <% else %>
    <strong>&copy; UdeC Craft 2020</strong>
   <% end %>
</footer>
