<h4>Objetivos de Project Ares</h4>
<div class="row">
  <div class="col-md-4">
    <div class="row">
      <div class="col-sm-6">
        <h3>
          <%= @pgm_record.wools %>
          <small>Wools</small>
        </h3>
      </div>
      <div class="col-sm-6">
        <h3>
          <%= @pgm_record.monuments %>
          <small>Monuments</small>
        </h3>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="row">
      <div class="col-sm-6">
        <h3>
          <%= @pgm_record.cores %>
          <small>Cores</small>
        </h3>
      </div>
    </div>
  </div>
</div>
