<h4>Stats de Project Ares</h4>
<div class="row">
  <div class="col-md-4">
    <div class="row">
      <div class="col-sm-6">
        <h3>
          <%= @pgm_record.kills %>
          <small>kills</small>
        </h3>
      </div>
      <div class="col-sm-6">
        <h3>
          <%= @pgm_record.deaths %>
          <small>deaths</small>
        </h3>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="row">
      <div class="col-sm-6">
        <h3>
          <%= @pgm_record.kd %>
          <small>kd</small>
        </h3>
      </div>
      <div class="col-sm-6">
        <h3>
          <%= @pgm_record.kk %>
          <small>kk</small>
        </h3>
      </div>
    </div>
  </div>
</div>
