<main role="main">
  <div class="medievo-jumbotron">
    <div class="container">
      <h1 class="display-3">El Medievo</h1>
      <div class="sub-display-3">
        <p>El gran servidor medieval</p>
      </div>
      <a class="btn btn-success btn-lg ip">
        <!-- No label was used to avoid button's misplacement -->
        <input onClick="this.select();" readonly="<%= true %>" type="text" value="us.elmedievo.org"/>
      </a>
    </div>
  </div>
  <div style="background-color: #212121; width: auto; height: 50px;">
  </div>
  <div class="container">
    <br/>
    <br/>
    <div class="site-description">
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-5">
          <h2>El Medievo</h2>
          <p>Con más de 2 años de trayectoria, El Medievo sigue llegando a ustedes con la misma esencia de siempre, manteniendo su imagen íntegra e ideales claros! Ahora con modalidad towny, economía, y mucho más!</p>
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-2">
          <div class="logo-large">
            <%= image_tag("logo_medievo.png", :alt => "logo") %>
          </div>
        </div>
      </div>
    </div>

    <br/>
    <hr/>

  </div>
</main>
