<div class="container">
  <div class="page-header">
    <h2>
      Servidores
      <small>Funcionando 24/7</small>
    </h2>
  </div>

  <hr/>

  <div class="row">
    <div class="col-md-12">
      <h3>Información</h3>
      <table class="table table-striped">
        <tbody>
        <tr>
          <td>
            <b>Conéctate:</b>
          </td>
          <td>
            <b class="lead">play.unicraft.cl</b>
          </td>
        </tr>
        <tr>
          <td>
            <b>Versión</b>
          </td>
          <td>
            1.8 - 1.16.1
          </td>
        </tr>
        <tr>
          <td>
            <b>Status</b>
          </td>
          <td>
            <i class="fa fa-wifi" aria-hidden="true"></i>
            Online
          </td>
        </tr>
        <tr>
          <td>
            <b>in-game</b>
          </td>
          <td>
            <code>/servers</code>
          </td>
        </tr>
        </tbody>
      </table>

      <br/>
    </div>

    <div class="col-md-12">
      <%= render :partial => 'servers' %>
    </div>
  </div>
</div>
