<div class="container">
  <h2>
    Estadísticas
    <small> Ordenadas por mayoría de <strong>Kills</strong></small>
  </h2>

  <hr/>
  <br/>

  <%= paginate @players %>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th width="5%">#</th>
        <th width="15%">Kills</th>
        <th width="15%">Deaths</th>
        <th width="15%">KD Ratio</th>
        <th width="15%">KK Ratio</th>
        <th width="35%">Usuario</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'pgm_players/stats_body'%>
    </tbody>
  </table>

  <%= paginate @players %>

  <br/>
  <hr/>
</div>

