<div class="container">
  <h2>
    Estadísticas
    <small> Ordenadas por mayoría de <strong>Kills</strong></small>
  </h2>

  <hr/>
  <br/>

  <div class="table-responsive">
    <%= paginate @players %>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Kills</th>
          <th>Deaths</th>
          <th>KD Ratio</th>
          <th>KK Ratio</th>
          <th width="40%">Usuario</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'pgm_players/stats_body'%>
      </tbody>
    </table>
    <%= paginate @players %>
  </div>

  <br/>
  <hr/>
</div>

