<style>
  .jumbotron {
    background-image: url('<%= image_url('404.gif') %>');
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    min-height: 300px;
  }
</style>

<div class="container">
  <div class="jumbotron" style="background-size: 100% 100%; background-repeat: no-repeat">
    <div style="width: 200px; text-align: center; font-weight: bold; color: white; text-shadow: 2px 2px 5px black;">
      <div style="font-size: 90px; line-height: 90px;">422</div>
      <div style="font-size: 30px;">Illegal</div>
    </div>
  </div>

  <hr/>
</div>
