<div class="container">

  <section>
    <div class="page-header">
      <h3>
        Algo salió mal y explotó :(
      </h3>
    </div>

    <hr/>
      <div class="error-image" style="border-radius: 5px">
        <div style="width: 200px; text-align: center; color: white; text-shadow: 2px 2px 5px black;">
          <div style="font-size: 90px; line-height: 90px">
            <div style="font-size: 35px">
              Error 404
            </div>
          </div>
        </div>
      </div>
    <hr/>

  </section>
</div>
