<div class="container">

  <section>
    <div class="page-header">
      <h2>
        Campus Concepción
      </h2>
    </div>
    <hr/>
  </section>

  <br/>
  <br/>

  <%= render partial: 'gallery/gallery' %>

  <hr/>
</div>

