<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>

<div class="container">

  <section>
    <div class="page-header">
      <h2>
        Campus Concepción
      </h2>
    </div>
    <hr/>
  </section>

  <br/>

  <div class="photo-gallery">
    <div class="container">

      <div class="row photos">
        <% @images.each do |url| %>
          <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="<%= url %>" data-lightbox="photos">
            <img style="border-radius: 3px; box-shadow: 7px 7px 6px #111;" class="img-fluid" src="<%= url %>" alt=""></a>
          </div>
        <% end %>
      </div>

    </div>
  </div>

  <br/>
</div>
