<div class="container">
  <div class="flash" style="margin-top: 100px;">
  </div>

  <section>
    <div class="page-header">
      <h2>
        Campus Concepción
      </h2>
    </div>
    <hr/>
  </section>

  <div class="container">
    <%= render partial: "gallery/gallery" %>
  </div>

  <br/>

  <hr/>
</div>