<div class="container">
  <h2>
    Project Ares
    <small> ¿Qué es esto?</small>
  </h2>
  <hr/>

  <p>Project Ares es una colección muy versátil de modos de juego, que originalmente pertenecía al ya cerrado servidor
    de <b>Overcast Network</b>. Aquí una lista de algunas de las modalidades disponibles:
  </p>

  <div class="container">
    <strong>Modos de juego</strong>
    <ul>
      <li>Capture the Wool (CTW)</li>
      <li>Destroy the Monument (DTM)</li>
      <li>Destroy the Core (DTC)</li>
      <li>Capture the Flag (CTF)</li>
      <li>King of The Hill (KoTH)</li>
      <li>Team Death Match (TDM)</li>
    </ul>
  </div>

  <p>Actualmente, los servidores de <b>Alpha</b> y <b>Beta</b> cuentan con las modalidades arriba expuestas, y se puede
    acceder a ellos mediante el <i>Navigator</i> al entrar a nuestra Network. Las estadísticas (kills, deaths, etc.) y
    próximamente objetivos, que consigas en los servidores de Project Ares, serán las que terminen siendo listadas en la
    <%= link_to "página de stats", stats_url %>.
  </p>

  <p>Para entender mejor lo que solía ser una Network con estas características, creemos que será más fácil transmitirlo
    mediante videos hechos durante el tiempo en que Overcast seguía abierto, por gente conocida de la comunidad.
  </p>

  <h3><strong><u>Videos</u></strong></h3>

  <br/>

  <div class="container">
    <h4><b>ElRichMC</b></h4>
    <hr/>
    <div style="border-radius: 5px" class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zSuPHlihMME?list=PLm3Xawa2Uu9bxz6sacKOlmrkjZieeAwgu" allowfullscreen></iframe>
    </div>

    <br/>

    <h4><b>OllieGamerZ</b></h4>
    <hr/>
    <div style="border-radius: 5px" class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/OqNYt-52Oys" allowfullscreen></iframe>
    </div>
  </div>

  <br/>
  <hr/>

  <h4>
    ¡Gracias!
  </h4>
  <p>¡Eso es todo! Como administración realmente esperamos poder lograr algo parecido a lo que se ve en los videos,
    y estamos concientes de que entre la comunidad que hemos formado hay individuos que disfrutan mucho de estos
    servidores PvP y, si tú eres uno de ellos, ¡corre la voz! podríamos estar muy cerca de algo grande.
  </p>

  <br/>

  <h4>
    Información adicional
  </h4>
  <p>Sabemos que dentro de toda comunidad hay gente talentosa, que puede, con un pequeño empujón y dirección apropiada,
    llegar a realizar grandes contribuciones dentro de la mísma. Para aquellos interesados, los modos de juego de Project
    Ares son manejados por el plugin <b>PGM</b> (<b>P</b>vp <b>G</b>ame <b>M</b>anager), el cual se encuentra en activo
    desarrollo en <a href="https://github.com/PGMDev/PGM" target="_blank">GitHub</a>. Nosotros, por nuestra parte, tenemos
    un fork de este repositorio <a href="https://github.com/ElMedievo-UdeC/PGM" target="_blank">aquí</a>. ¡Si sabes programar
    y deseas contribuir, eres completamente libre de hacerlo!
  </p>
  <p>
    En relación al funcionamiento interno de los mapas en los servidores que utilizan PGM, una muy buena guía puede
    encontrarse en el antiguo sitio de documentación XML de Overcast: <a href="https://docs.oc.tc/" target="_blank">
    https://docs.oc.tc/</a>. No se trata precisamente de una introducción completa, pero uniendo algunos puntos, puede
    llegar a ser de ayuda si estás interesado en contribuir en etapas futuras del servidor. También puede servir como
    referencia la página web creada por los personajes que están actualmente detrás del desarrollo de PGM:
    <a href="https://pgm.dev/" target="_blank">https://pgm.dev/</a>.
  </p>

  <p>Si leíste estos dos últimos párrafos, tienes dudas, y quieres contribuir, siéntete libre de contactarme por Discord
    <code>BGM#3867</code>
  </p>

  <p>-
    <img style="background-color: black; border-radius: 3px;" width="24px" height="24px" src="<%= Minecraft::Data.head_url_of_username('BGMP') %>" alt="">
    <%= link_to "BGMP", "", :style => "color: #f9a825; text-decoration: none; font-weight: bold;" %>
  </p>

  <hr/>
</div>
