@import "font-awesome-sprockets";
@import "font-awesome";

@import "navigation";
@import "footer";
@import "rules";
@import "pgm";
@import "staff";
@import "towns";
@import "gallery";
@import "devise";
@import "kaminari";
@import "forums";
@import "users";
@import "thredded";

body {
  background-color: #333333;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

hr {
  background-color: #bdbdbd;
}

// Splash Landing
main {
  background-color: #333333;
}

main p {
  color: #e5d6e1;
}

.display-3 {
  letter-spacing: -3px;
  color: whitesmoke;
  margin-top: 60px;
  text-shadow: 0.1em 0.1em 0.2em black;
}

.sub-display-3 {
  font-size: 25px;
  color: whitesmoke;
  text-shadow: 0.1em 0.1em 0.3em black;
}

.site-description h2 {
  color: whitesmoke;
}

.site-description p {
  font-size: 18px;
  color: #bdbdbd;
}

.site-description img {
  height: 250px;
  width: 250px;
  border-radius: 5px;
  border: 2px solid #e2e2e2;
}

.ip input {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  height: 50px;
  border: 0;
  border-radius: 4px;
  box-shadow: none;
  color: #ffffff;
  background-color: transparent;
  padding: 20px;
  margin: 0;
}

.ip input:hover {
  cursor: pointer;
}

.ip .label {
  font-weight: bold !important;
  font-size: 14px !important;
}

.col-md-4 {
  margin-bottom: 15px;
}

