.devise-form-field {
  background-color: #212121;
  border-color: #212121;
  color: #bdbdbd;
}

.devise-form-field:focus {
  background-color: #212121;
  border-color: #212121;
  color: #bdbdbd;
}

.devise-checkbox-text {
  color: #beb8bc;
}

.devise-text-pleasant {
  color: #bdbdbd;
}
