.above-footer {
  color: white;
}

footer {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 50px;
  color: #bdbdbd;
}

.references h5 {
  font-weight: bold;
  font-size: 18px;
  color: #bdbdbd;
}

.references a {
  color: #bdbdbd;
}

.list-group-item {
  padding: 0.3rem 1rem !important;
  border-radius: 3px !important;
}

.list-group {
  margin: auto;
  height: 100px;
  width: 200px;
}

.list-group-item {
  border-radius: 3px !important;
  background-color: transparent !important;
  border-color: transparent !important;
  margin-bottom: 2px;
}

.list-group-item:hover {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.list-group a:hover {
  opacity: 0.8;
  color: white;
}

.list-group a:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.list-group {
  margin-bottom: 15px;
}
