ul.unstyled, ol.unstyled {
  list-style: none;
}

.card {
  color: #beb8bc;
  max-width: 225px;
}

.online {
  box-shadow: 0 0 1px #818181, 0 0 2px #858585, 0 0 3px #082803, 0 0 4px #032102, 0 0 5px #19b709, 0 0 6px #19b709, 0 0 7px #19b709;
  background-color: #212121;
}

.lead {
  font-weight: bold;
}

.server-image {
  display: block;
  max-width: 100%;
  height: 225px;
}

.server-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
}

.server-command {
  font-size: 16px;
}

.server-version {
  font-size: 16px;
}
