// Place all the styles related to the PGMPlayers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.stats-head-entry {
  height: 26px;
  width: 26px;
  border-radius: 3px;
}
