// Place all the styles related to the public controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/

main {
  background-color: #333333;
}

main p {
  color: #e5d6e1;
}

.jumbotron {
  background-image: image_url('landing.png');
  background-position: center;
  height: 500px;
  margin-bottom: 0 !important;
}

.display-3 {
  letter-spacing: -3px;
  color: whitesmoke;
  margin-top: 60px;
  text-shadow: 0.1em 0.1em 0.2em black;
}

.sub-display-3 {
  font-size: 25px;
  color: whitesmoke;
  text-shadow: 0.1em 0.1em 0.3em black;
}

.site-description h2 {
  color: whitesmoke;
}

.site-description p {
  font-size: 18px;
  color: #bdbdbd;
}

.site-description img {
  height: 250px;
  width: 250px;
  border-radius: 5px;
  border: 2px solid #e2e2e2;
}

input {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  height: 50px;
  border: 0;
  border-radius: 4px;
  box-shadow: none;
  color: whitesmoke;
  background-color: #0088cc;
  margin: 0;
}

.ip input {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  height: 50px;
  border: 0;
  border-radius: 4px;
  box-shadow: none;
  color: #ffffff;
  background-color: transparent;
  padding: 20px;
  margin: 0;
}

.ip input:hover {
  cursor: pointer;
}

.ip .label {
  font-weight: bold !important;
  font-size: 14px !important;
}
