.thredded-form-field {
  background-color: #212121;
  border-color: #212121;
  color: #bdbdbd;
}

.thredded-form-field:focus {
  background-color: #212121;
  border-color: #212121;
  color: #bdbdbd;
}

.thredded-checkbox-text {
  color: #beb8bc;
}

.thredded-checkbox-isolate {
  margin-top: 10px;
}

.thredded-text-pleasant {
  color: #bdbdbd;
}
