<div class="container">

  <section>
    <div class="page-header">
      <h2>
        Towns
        <small> Todas las ciudades del servidor  <i class="fa fa-home" aria-hidden="true"></i></small>
      </h2>
    </div>

    <hr/>
    <br/>

  </section>

  <%= render partial: "towns/listing" %>

  <hr/>
</div>
