<p>Hola, <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Te contactamos para informarte que el correo de tu cuenta está siendo cambiado a <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Te contactamos para informarte que el correo de tu cuenta ha sido cambiado a <%= @resource.email %>.</p>
<% end %>
