<p>Hola, <%= @resource.email %>!</p>

<p>Alguien ha solicitado un link para cambiar tu contraseña. Puedes hacerlo mediante el link de abajo.</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no has solicitado cambiar tu contraseña, por favor ignora este correo.</p>
<p>Tu contraseña no cambiará a menos que ingreses al link de arriba y crees una nueva.</p>
