<div class="container">
  <section>
    <div class="page-header">
      <h2>
        Reglamento Global
      </h2>
      <h6>칔ltima modificaci칩n:
        <%= RulesHelper::Rules::LAST_MODIFIED %>
      </h6>
      <h6>Autor:
        <%= RulesHelper::Rules::AUTHOR %>
      </h6>
      <h6>Editores:
        <% RulesHelper::Rules::EDITORS.each do |editor| %>
          <% if RulesHelper::Rules::EDITORS.last.equal?(editor) %>
            <%= editor %>
          <% else %>
            <%= editor %>,
          <% end %>
        <% end %>
      </h6>
    </div>
    <hr/>
    <div class="row">
      <div class="col-md-12">
        <h4>A. Compostura General</h4>

        <ol>
          <li>Ser un caballero.</li>
          <li>Mant칠n una actitud calmada. S칠 respetuoso y usa tu sentido com칰n. Insultos excesivos, odio, y acoso no ser치n tolerados</li>
          <li>No env칤es nada de lo siguiente:
            <ul>
              <li>Material objetable, que incluye pero no est치 limitado, a: pornograf칤a, virus, intentos de <a href="https://es.wikipedia.org/wiki/Phishing" target="_blank">phishing</a> y referencias a grupos de odio.</li>
              <li>Informaci칩n personal de otros usuarios (<a href="https://es.wikipedia.org/wiki/Doxing" target="_blank">Doxing</a>).</li>
            </ul></li>
          <li>Sigue todas las indicaciones entregadas por el staff de UdeC Craft. Si crees que un miembro del staff ha actuado de mala manera, por favor ponte en cont치cto con la administraci칩n.</li>
          <li>No construyas ni promuevas la construcci칩n de mecanismos o granjas que puedan llegar a causar una baja en el rendimiento del servidor, empeorando la experiencia de juego de los dem치s usuarios. Si tienes dudas, pregunta a cualquier miembro del staff.</li>
        </ol>

        <h4>B. Discord</h4>

        <ol>
          <li>Mantente dentro del tema de cada canal. Lee la descripci칩n de cada uno de ellos para saber cu치l es.</li>
          <li>No agregues ning칰n bot sin permiso explicito de la administraci칩n.</li>
          <li>No utilices efectos de voz ni coloques m칰sica a trav칠s de tu cliente de Discord. Esto puede resultar en una infracci칩n.</li>
        </ol>

        <p><strong>Nota:</strong> Las reglas listadas en el canal #游닆reglamento游닆 tambi칠n aplican para el servidor de Discord.</p>

        <h4>C. Comportamiento en el Servidor</h4>

        <ol>
          <li>No env칤es mensajes que incentiven a jugadores a irse del servidor.</li>
          <li>No debes usar ningun medio de chat in-game para solicitar dinero a otros jugadores. Cualquier usuario que sea encontrado practicando 칠sto ser치 baneado permanentemente sin aviso previo.</li>
          <li>Tu nombre de usuario y tu skin deben ser apropiados. Cuentas que sostengan un nombre de usuario y/o una skin inapropiados, ser치n baneadas hasta que el nombre y/o la skin sean cambiados.</li>
          <li>춰No abuses de glitches! Esto incluye, pero no est치 limitado a duplicar objetos, aprovechar exploits de dinero o errores en los plugins. En caso de encontrar algo en relaci칩n a este punto, ponte en contacto con el staff del servidor.</li>
          <li>Los usuarios no deber치n hacer spawn-camp fuera del spawn del server Towny:
            <ul>
              <li>Atacando a jugadores nuevos que apenas salen de la construcci칩n del spawn.</li>
              <li>Directamente construyendo trampas o mecanismos que deliberadamente tengan como objetivo arruinar la experiencia de juego de los reci칠n llegados.</li>
            </ul>
          </li>
        </ol>

        <h4>D. Modificaciones al cliente</h4>

        <ol>
          <li>Modificaciones no permitidas por la comunidad Medieval:
            <ul>
              <li>Mods que faciliten la miner칤a revelando la ubicaci칩n de menas y mazmorras tales como X-Ray, texture packs maliciosos, entre otros.</li>
              <li>Mods que proyecten minimapas que alteren las interacciones entre jugadores revelando ubicaciones de cofres, hornos, entidades, etc.</li>
              <li>Modificaciones que arruinen la experiencia de juego de la comunidad tales como vuelo, reach, velocity o knockback reducer, obtenci칩n y clonaci칩n de objetos y entidades.</li>
            </ul>
          </li>
          <li>Modificaciones permitidas por la comunidad Medieval:
            <ul>
              <li>Uso de texture packs dise침ados para el PvP y la mejora del rendimiento.</li>
              <li>Uso de modificaciones que permitan alterar la configuraci칩n del juego de manera m치s avanzada con el fin de mejorar el rendimiento tales como OptiFine.</li>
            </ul>
          </li>
        </ol>

        <h4>E. Miscel치neo</h4>

        <ol>
          <li>Estas reglas est치n sujetas a cambiar sin previo aviso.</li>
          <li>Los usuarios son responsables de mantenerse al d칤a con el estado de las reglas.</li>
          <li>Hay un periodo de gracia de 10 d칤as, despu칠s de que un cambio de reglas es efectuado.</li>
          <li>UdeC Craft se reserva el derecho de banear o desbanear a cualquier usuario de cualquiera de sus servicios, por cualquier motivo y sin dar aviso previo.</li>
        </ol>

        <h4>F. Consecuencias</h4>

        <ol>
          <li>Puedes recibir una infracci칩n por romper cualquiera de las reglas listadas arriba.</li>
          <li>La severidad de la infracci칩n estar치 normalmente basada en la cantidad de infracciones previas de cada jugador; sin embargo, la decisi칩n final queda a discreci칩n del staff.</li>
          <li>Violaciones particularmente obvias a cualquier regla ser치n inmediatamente penalizadas con un ban permanente sin advertencia previa.</li>
          <li>Los usuarios que sostengan m칰ltiples advertencias por romper una o m치s reglas podr치n ser baneados temporalmente sin aviso previo.</li>
          <li>Evadir un ban con otra cuenta no est치 permitido, y resultar치 en un ban permanente para todas las cuentas alternativas asociadas al usuario evasor. Las cuentas alternativas no ser치n desbaneadas una vez expirado el ban original, o en caso de ser apelado satisfactoriamente. En caso de encontrarse a un usuario evadiendo su ban, su infracci칩n puede ser extendida hasta el triple del tiempo de la sanci칩n original.</li>
          <li>La evasi칩n de ban persistente resultar치 en que todas las cuentas asociadas al infractor ser치n baneadas permanentemente sin cabida a apelaci칩n.</li>
          <li>Usuarios que violen cualquiera de las reglas del servidor o del Discord pueden ser baneados de uno o todos los servicios que ofrecemos como network.</li>
          <li><strong>Cualquier usuario que proporcione informaci칩n falsa durante un proceso de reporte, apelaci칩n o contestaci칩n ser치 baneado permanentemente de todos nuestros servicios.</strong></li>
        </ol>

        <p><strong>Nota</strong>: Todas las infracciones est치n sujetas a la discreci칩n del staff.</p>
      </div>
    </div>
  </section>

</div>
