<div class="container">

  <section>
    <div class="page-header">
      <h2>
        Política de privacidad
      </h2>
    </div>
    <hr/>

    <div class="row">
      <div class="col-md-12">
        <h5>Recolección de información:</h5>
        <ul>
          <li>La IP desde la que te conectes a nuestros servicios es guardada en una base de datos de manera segura. Sólo los administradores y desarrolladores tienen acceso a los registros de IPs. Son utilizadas a veces para identificar a quienes evaden infracciones. </li>
          <li>Cuando realizas una compra en nuestra tienda, tu información de pago es enviada directamente a PayPal. No almacenamos información relacionada en nuestros servidores.</li>
        </ul>

        <p>En general, <%= ORG::NAME %> recolecta información con el único propósito de mejorar sus servicios. La información sensible está solo disponible para nuestro staff, y sólo para el staff que la requiere para realizar su trabajo.</p>
      </div>
    </div>
  </section>

</div>
