<div class="container">
  <div class="flash" style="margin-top: 100px;">
  </div>

  <section>
    <div class="page-header">
      <h1>Contácto
        <small style="font-size: 20px">Problemas? envíanos un correo!</small>
      </h1>
    </div>
    <hr/>
  </section>

  <div class="row">
    <div class="container">
      <div class="col-md-12" align="center">
        <h5>Envíanos un email a nuestra cuenta oficial de gmail:</h5>
        <br/>
        <a class="btn btn-primary btn-lg ip">
        <!-- No label was used to avoid button's misplacement -->
        <input onClick="this.select();" readonly="<%= true %>" type="text" value="udeccraft@gmail.com"/>
        </a>
      </div>
    </div>
  </div>

  <br/>
  <hr/>
  <br/>

  <div class="row">
    <div class="col-md-12">
      <h4>Normativa general de soporte</h4>
      <ul>
        <li>Esto no es un email de reclamos ni sugerencias. Utilízalo sólo si tienes problemas con tu cuenta, con el staff, o dudas acerca del servidor como organización.</li>
        <li>El uso inadecuado de esta herramienta de contácto puede conllevar a una infracción severa que aplique en todos nuestros servicios en caso de hayar a uno o más responsables.</li>
      </ul>

      <p>Solo usa tu sentido común. Si realmente necesitas ponerte en contácto con la Administración por algo de cierta importancia, siéntete libre de hacerlo, y redacta a detalle lo que quieras comunicar.</p>
    </div>
  </div>

  <hr/>
</div>