<div class="container">
  <div class="flash" style="margin-top: 100px;">
  </div>

  <section>
    <div class="page-header">
      <h2>
        Términos de servicio
      </h2>
      <h6>Última modificación:
        <%= TosHelper::LAST_MODIFIED %>
      </h6>
    </div>
    <hr/>

    <p>Al hacer de uso de cualquier servicio ofrecido por UdeC Craft, aceptas estar ligado a los siguientes términos y condiciones.</p>
    <p>UdeC Craft se reserva el derecho de actualizar y cambiar sus términos de servicio en cualquier momento y sin previo aviso.  Cualquier nueva funcionalidad que lleguemos a ofrecer estará sujeta a los términos de servicio. El uso continuo de nuestros servicios constituye tu consentimiento a cambios.</p>
    <p>El incumplimiento de cualquiera de los términos listados abajo concluirá en la terminación de tu cuenta. Asi como UdeC Craft hace cumplir los términos y condiciones, entiendes que UdeC Craft no es responsable del contenido compartido mediante ninguno de los ervicios que ofrece. Tú accedes a utilizar el servicio bajo tu propio riesgo.</p>

    <div class="row">
      <div class="col-md-12">
        <h4>A. Cuenta</h4>

        <ol>
          <li>Debes ser un humano. Las cuentas registradas por "bots" u otros métodos automáticos no están permitidas.</li>
          <li>Tu usuario debe ser utilizado unicamente por una persona ~ múltiples personas utilizando la misma cuenta está prohibido.</li>
          <li>Eres responsable de mantener la seguridad de tu cuenta y contraseña en caso de ser no-premium. En caso de que pierdas acceso a ella, contácta con un administrador a la brevedad.</li>
          <li>Eres responsable por el contenido publicado y actividad que ocurra en relación a tu cuenta (incluso cuando el contenido sea publicado por otros con acceso a tu cuenta)</li>
          <li>No debes utilizar nuestros servicios para ninguna actividad ilegal, o propósito no autorizado. No debes, haciendo uso de nuestros servicios, violar ninguna ley en tu jurisdicción (incluyendo, pero no estando limitado a leyes de copyright)
        </ol>

        <h4>B. Cancelación y Terminación</h4>

        <ol>
          <li>Eres libre de cancelar tu cuenta en cualquier momento. Contácta con la administración en caso de querer hacerlo.</li>
          <li>Si cancelas tu cuenta antes del término de mes en relación al pago de planes VIP mensuales, tu cancelación tomará efecto inmediatamente, y ya no se te cobrará más</li>
          <li>UdeC Craft, en su discreción, tiene el derecho de suspender o terminar tu cuenta y rehusarse a permitirte usar cualquiera de sus servicios actuales o por haber, por cualquier motivo, en cualquier momento.
        </ol>

        <h4>C. Modificaciones al servicio</h4>

        <ol>
          <li>UdeC Craft se reserva el derecho de, en cualquier momento, modificar o descontinuar, temporal o permanentemente, cualquiera de los servicios que ofrece.</li>
          <li>UdeC Craft no se responsabiliza de ti ni de ningún tercero en el eventual caso de descontinuar cualquiera de sus servicios.</li>
        </ol>

        <h4>D. Copyright y Propiedad intelectual</h4>

        <ol>
          <li>No reclamamos derechos de propiedad intelectual sobre el material que tú proveas al servicio. Tus construcciones, acciones, etc. te pertenecen; sin embargo, nos rehusaremos a hacer entrega de ciertos elementos en caso de que creamos que o, directamente, vayan a comprometer o arruinar la experiencia de juego para el resto de usuarios.</li>
          <li>UdeC Craft y su designación tiene el derecho (pero no la obligación), en su plena discreción, de rehusarse a remover cualquier pieza de contenido disponible a travéz de sus servicios.
        </ol>

        <h4>E. Condiciones Generales</h4>

        <ol>
          <li>Entiendes que UdeC Craft utiliza proveedores terceros para proveer el hardware, software, networking, almacenamiento y teconología relacionada para mantener sus servicios.</li>
          <li>No deberás modificar ni adaptar el servicio para falsamente implicar que está asociado a los nuestros.</li>
          <li>Accedes a no reproducir, duplicar, copiar, vender, re-vender o explotar ninguna parte del servicio, uso del servicio o acceso al servicio sin consentimiento explícito de UdeC Craft.</li>
          <li>Abuso verbal, escrito o físico entre cualquier miembro de UdeC Craft concluirá en una terminación completa de las cuentas promotoras del lado agresor.</li>
          <li>UdeC Craft no garantiza (i) que el servicio cumpla con tus expectativas personales (ii) que el servicio sea ininterrumpido, seguro o libre de errores, (iii) que los resultados obtenidos a partir del servicio sean confiables y seguros, (iv) que la calidad de cualquier producto, servicio, información o cualquier otro material comprado u obtenido a travéz del servicio cumplirá con tus expectativas, y (v) que cualquier error en el servicio será corregido.</li>
        </ol>
      </div>
    </div>
  </section>

  <hr>
</div>
